@import "partials/colors";

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

//Base styling to make sure the browser won't interfere in my styling
html, body{
    margin: 0;
    padding: 0;
}

header, article, div, aside, section, footer, main {
    box-sizing: border-box;
}

body{
    background-color: $gainsboro;
}

//Sets the size for the site and a base font size
main, header{
    width: 100%;
    max-width: 1600px;
    margin: 0 auto;
    font-size: 21px;
}

//All the navigation styling
nav{
    ul{
        display: flex;
        justify-content: space-between;
        list-style: none;
        padding: 0;
        margin: 195px 0 0 0;
        li{
            button{
                border: none;
                font-size: 1.5rem;
                background-color: $darkslate_gray;
                font-family: "Montserrat", serif;
                font-weight: bold;
                padding: 1.5rem calc(1px + 4.5vw);
                color: $white;
            }
        }
    }
}

//Stylizing the main box that contains the article itself
main{
    background-color: $white;
    font-family: "Montserrat", serif;
    article{
        padding: 9rem 5.5rem;
        h2{
            margin: 0;
            color: $darkslate_gray;
        }
    }
}

//Adds styling for class activeTab that is set by the contentHandler based on current category
.activeTab{
    text-decoration: underline $darkslate_gray 2.5px;
    background-color: $white;
    color: $darkslate_gray;
}

//Very simple mediaQueries to make the site aviable for phone use, this should be improved.
@media only screen and (max-width: 1200px) {
    nav{
        ul{
            flex-direction: column;
            margin-top: 0;
            li{
                button{
                    border: 3px solid $gainsboro;
                    border-radius: 20px;
                    width: calc(100% - 20px);
                    margin: 0 10px;
                } 
            }
        }
    }
}